img{
width: 200px;

}

body{
background-color: rgb(192, 192, 58);
color: aquamarine;
font-size: 15pt;
}

a{
    width: 20px;
    height:10px;
    background-color: rgb(200, 28, 227);
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

.primeiro_paragrafo{
    border: 2px solid blue;
    border-radius: 5px;
}